.wrapper{
  width: 350px; padding: 20px;
  margin: auto;
}

html, body{
 height: 100%;
 overflow: hidden;
 background: #ffe259;
 background: var(--mango-gradient);
}
.wrapper{
 width: 350px; padding: 20px;
 margin: auto;
 margin-top: 150px;
}
body {
 background: url('../img/demo.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 width: auto;
 
}